JENKINS_URL=http://jenkins:8080
JENKINS_USER=admin
JENKINS_TOKEN=your_api_token_here
GITLAB_URL=https://gitlab.example.com
GITLAB_TOKEN=your_access_token_here
COLLECTION_INTERVAL=60
FLASK_DEBUG=false
PORT=5000
